<!-- メッセージ画面 -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="main">
        <div class="male-msg">
          <div class="male-msg-top">
            <div class="male-msg-top-inner">
              <div class="male-msg-top-img">
                <img src="<%= @userlike.restaurant.image %>" alt="image" />
              </div>
              <div class="male-msg-top-text">
                <h4><%= @userlike.restaurant.name %></h4>
                <ul class="woman-pick-list">
                  <li>
                      <% for starNum in 1..@userlike.restaurant.star do %>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      <% end %>
                  </li>
                  <li>
                    <%= @userlike.restaurant.star %>
                  </li>
                  <li>
                    <!-- 2：奢るよと男から言っている -->
                    <% if @userlike.matching == 2 %>
                    <div class="btn-danger btn-xs disabled">
                    <!-- <%= @payment_user.name %>さんがごちそうしてくれるといってます！ -->
                    ごちそうします。
                    </div>
                    <!-- 4：男から女へ、奢るよという誘いがあってマッチ成立 -->
                    <% elsif @userlike.matching == 4 %>
                    <div class="btn-danger btn-xs disabled">
                    <!-- <%= @payment_user.name %>さんがごちそうしてくれます！ -->
                    ごちそうしてくれます。
                    </div>
                    <% else %>
                    <!-- 0：行かない -->
                    <% if  @userlike.restaurant.payment == 0 %>
                    <div class="btn-danger btn-xs disabled">
                    <!-- <%= @payment_user.name %>さんがごちそうしてくれるといってます！ -->
                    ごちそうしてくれます。
                    </div>
                    <!-- 1：片方が行きたいと言っている -->
                    <% elsif @userlike.restaurant.payment == 1 %>
                    <div class="btn-danger btn-xs disabled">
                    <!-- <%= @payment_user.name %>さんとワリカンでいきましょう！ -->
                    ワリカンで！
                    </div>
                    <% else %>
                    <% end %>
                    <% end %>
                  </li>
                </ul>
                <ul class="woman-pick-list">
                  <li>
                    <span class="border-text">店の価格</span>
                    <span><%= @userlike.restaurant.price %></span>
                  </li>
                  <li>
                    <span class="border-text">エリア</span>
                    <span>Text</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <!-- メッセージ一覧 -->
          <% @messages.each do |message| %>
          <div class="male-msg-med">
            <!--   <p class="lead text-center"><%= @userlike.restaurant.name %></p> -->

            <div class="male-msg-comm-list">
              <!-- 自分のメッセージ -->
              <li class="left">
                <div class="comm-text">
                  <!-- Nisi libero rutrum metus magna a dui lacinia vivamus nulla odio est pulvinar ante accumsan ipsum  -->
                  <%= message.body %>
                </div>
                <div class="comm-img">
                  <img src="<%= @userlike.restaurant.user.thumb %>" width="100" alt="..." class="img-circle">
                  <%= current_user.name %>
                </div>
              </li>

              <!-- 相手のメッセージ -->
              <li class="right">
               <div class="comm-img">
                <img src="<%= @userlike.restaurant.user.thumb %>" width="100" alt="..." class="img-circle">
                <%= @userlike.restaurant.user.name %>
              </div>
              <div class="comm-text">
                <!-- Nisi libero rutrum metus magna a dui lacinia vivamus nulla odio est pulvinar ante accumsan ipsum -->
                <%= message.body %>
              </div>
            </li>
          </div>
        </div>
        <% end %>

@matching：
<%= @matching %><br>
current_user.gender：
<%= current_user.gender %><br>
@userlike.like.gender：
<%= @userlike.like.gender %><br>

        <!-- 1：片方が行きたいと言っている -->
        <% if @matching == 1 %>
        <% if current_user.gender == "male" %>
          <% if @userlike.like.gender =="male" %>
            <p class = "btn btn-default"><%= link_to "✕", :controller => "flint", :action => "updateMatch", :userlike_id => @userlike.id, :matching => 0,:method => :post %></p>
            <p class = "btn btn-default"><%= link_to "ワリカン！", :controller => "flint", :action => "updateMatch", :userlike_id => @userlike.id, :matching => 3,:method => :post %></p>
            <p class = "btn btn-default"><%= link_to "おごる！", :controller => "flint", :action => "updateMatch", :userlike_id => @userlike.id, :matching => 4,:method => :post %></p>
        <!-- ---------------------------------------------------- -->
        <% elsif current_user.gender == "female" %>
          <% elsif @userlike.like.gender =="female" %>
            <p class = "btn btn-default"><%= link_to "お断りする", :controller => "flint", :action => "updateMatch", :userlike_id => @userlike.id, :matching => 0,:method => :post %></p>
            <p class = "btn btn-default"><%= link_to "お誘いを受ける", :controller => "flint", :action => "updateMatch", :userlike_id => @userlike.id, :matching => 3,:method => :post %></p>
          <% else %>
        <!-- ---------------------------------------------------- -->
          <% end %>
        <% end %>

        <!-- 2：奢るよと男から言っている -->
        <% elsif @matching == 2 %>
        <% elsif current_user.gender == "female" %>
        <p class = "btn btn-default"><%= link_to "お断りする", :controller => "flint", :action => "updateMatch", :userlike_id => @userlike.id, :matching => 0,:method => :post %></p>
        <p class = "btn btn-default"><%= link_to "お誘いを受ける", :controller => "flint", :action => "updateMatch", :userlike_id => @userlike.id, :matching => 4,:method => :post %></p>
        <% else %>
        <% end %>


          <!-- メッセージ入力欄 -->
          <%= form_tag(messages_path(), method: 'post') do %>
          <input type="text" name="body"></input>
          <input name="id" type="hidden" value="<%= @userlike.id %>" />
          <input type="submit" value="send"></input>
        <% end %>

        <div class="male-msg-footer clearfix">
          <div class="pull-left">
            <button type="button" class="btn btn-default"><%= link_to '<', "/" %></button>
          </div>
          <div class="pull-right">
            Some Text
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
