<div class="container">
  <div class="main roll-fixing">
    <div class="pbody">
      <center>
        <a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
        <h4>user情報の編集</h4>
      </center>

      <hr>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label "名前" %><br />
        <%= f.text_field :name%>
      </div>

      <div class="field">
        <%= f.label "年齢" %><br />
        <%= f.text_field :age_range %>
      </div>

      <div class="field">
        <%= f.label "職業" %><br />
        <%= f.text_field :job%>
      </div>

      <div class="field">
        <%= f.label "自己紹介" %><br />
        <%= f.text_area :introduction, :size => "40x10"%>
      </div>

<!--   <div class="field">
    <%= f.label "Eメール" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div> -->

<!-- <div class="field">
  <label><%= f.radio_button :gender, "male" %>男</label>
  <label><%= f.radio_button :gender, "female" %>女</label>
</div> -->

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<!--   <div class="field">
    <%= f.label "パスワード（パスワードを変更しない場合は空欄にしてください。）" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "パスワード（再入力）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "現在のパスワード（更新を行うために現在のパスワードの入力が必要です。）" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div> -->

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
  <% end %>

  <hr>

  <h3>退会</h3>

  <p>退会してユーザ情報を削除しますか? <%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
</div>
</div>
