<!-- 通知一覧 -->
<div class="container"><br>
  <br>
  <center>
    <div class="row">
      <div class="col-xs-4">

      </div>
      <div class="col-xs-4">
        <a href="/"><i class="fa fa-home fa-3x" aria-hidden="true"></i>&nbsp;</a>
      </div>
      <div class="col-xs-4">

      </div>
    </div>
  </center>
<hr>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <center>
        <a href=""><i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>&nbsp;</a>
      </center>
      <div class="main">

      <br>
      <h4>新しいマッチ</h4>
        <div class="notice-index">
          <ul class="notice-table">

            <!-- 男性でログインしている場合 -->
            <% if current_user.gender == "male" %>
            <!-- 男性でログインしています -->
            <hr>
            <% @notifications.each do |notification| %>
            <% if notification.matching == 1 %>
            <li>
              <div class="notice-img">
                <div class="pick-profile-pic-trim">
                <% if notification.liker.id == current_user.id %>
                  <a href="<%= message_path(notification.id) %>"><img src="<%= notification.like.thumb %>" width="200" /></a>
                <% elsif notification.like.id == current_user.id %>
                  <a href="<%= message_path(notification.id) %>"><img src="<%= notification.liker.thumb %>" width="200" /></a>
                  <% end %>
                </div>
              </div>
              <div class="notice-text">
                <h4>お誘いが来ています。1</h4>
                <p>
                  <% if notification.liker.id == current_user.id %>
                  <!-- <img src="<%= notification.like.thumb %>" width="200" /> -->
                  <%= link_to notification.like.name+"さんがあなたと"+notification.restaurant.name+"にいきたがっています！",message_path(notification.id) %>
                  <% elsif notification.like.id == current_user.id %>
                  <!-- <img src="<%= notification.liker.thumb %>" width="200" /> -->
                  <%= link_to notification.liker.name+"さんがあなたと"+notification.restaurant.name+"にいきたがっています！",message_path(notification.id) %>
                  <% end %>
                </p>
              </div>
            </li>

            <!--  -->
            <% elsif notification.matching == 2 %>
            <li>
              <div class="notice-img">
                <div class="pick-profile-pic-trim">
                <% if notification.liker.id == current_user.id %>
                  <a href="<%= message_path(notification.id) %>"><img src="<%= notification.like.thumb %>" width="200" /></a>
                <% elsif notification.like.id == current_user.id %>
                  <a href="<%= message_path(notification.id) %>"><img src="<%= notification.liker.thumb %>" width="200" /></a>
                <% end %>
                </div>
              </div>
              <div class="notice-text">
                <h4>お誘いが来ています。2</h4>
                <p>
                  <% if notification.liker.id == current_user.id %>
                    <!-- <img src="<%= notification.like.thumb %>" width="200" /> -->
                  <%= link_to notification.like.name+"さんがあなたと"+notification.restaurant.name+"にいきたがっています！",message_path(notification.id) %>
                  <% elsif notification.like.id == current_user.id %>
                    <!-- <img src="<%= notification.liker.thumb %>" width="200" /> -->
                  <%= link_to notification.liker.name+"さんがあなたと"+notification.restaurant.name+"にいきたがっています！",message_path(notification.id) %>
                  <% end %>
                </p>
              </div>
            </li>

            <!--  -->
            <% elsif notification.matching == 3 %>
            <li>
              <div class="notice-img">
              <div class="pick-profile-pic-trim">
                <% if notification.liker.id == current_user.id %>
                  <a href="<%= message_path(notification.id) %>"><img src="<%= notification.like.thumb %>" width="200" /></a>
                <% elsif notification.like.id == current_user.id %>
                  <a href="<%= message_path(notification.id) %>"><img src="<%= notification.liker.thumb %>" width="200" /></a>
                <% end %>
                </div>
              </div>
              <div class="notice-text">
                <h4>ワリカンでマッチしました。3</h4>
                <p>
                  <% if notification.liker.id == current_user.id %>
                  <!-- <img src="<%= notification.like.thumb %>" width="200" /> -->
                  <% elsif notification.like.id == current_user.id %>
                  <!-- <img src="<%= notification.liker.thumb %>" width="200" /> -->
                  <% end %>
                  <% if notification.messages.count == 0 %>
                  <% if notification.liker.id == current_user.id %>
                  <%= link_to notification.like.name+"さんと[ワリカン]でマッチしました！",message_path(notification.like.id) %>
                  <% elsif notification.like.id == current_user.id %>
                  <%= link_to notification.liker.name+"さんと[ワリカン]でマッチしました！",message_path(notification.liker.id) %>
                  <% end %>
                  <% else %>
                  <%= link_to notification.messages.last.body, message_path(notification.id) %>
                  <% end %>
                </p>
              </div>
            </li>

            <!--  -->
            <% elsif notification.matching == 4 %>
            <li>
              <div class="notice-img">
              <div class="pick-profile-pic-trim">
                <% if notification.liker.id == current_user.id %>
                  <a href="<%= message_path(notification.id) %>"><img src="<%= notification.like.thumb %>" width="200" /></a>
                <% elsif notification.like.id == current_user.id %>
                  <a href="<%= message_path(notification.id) %>"><img src="<%= notification.liker.thumb %>" width="200" /></a>
                <% end %>
                </div>
              </div>
              <div class="notice-text">
                <h4>おごるでマッチしました。4</h4>
                <p>
                  <% if notification.liker.id == current_user.id %>
                  <!-- <img src="<%= notification.like.thumb %>" width="200" /> -->
                  <% elsif notification.like.id == current_user.id %>
                  <!-- <img src="<%= notification.liker.thumb %>" width="200" /> -->
                  <% end %>

                  <% if notification.messages.count == 0 %>
                  <% if notification.liker.id == current_user.id %>
                  <%= link_to notification.like.name+"さんと[おごる]でマッチしました！",message_path(notification.id) %>
                  <% elsif notification.like.id == current_user.id %>
                  <%= link_to notification.liker.name+"さんと[おごる]でマッチしました！",message_path(notification.id) %>
                  <% end %>
                  <% else %>
                  <%= link_to notification.messages.last.body,message_path(notification.id) %>
                  <% end %>
                  <% end %>
                  <% end %>
                </p>
              </div>
            </li>

            <!-- 女性でログインしている場合 -->
            <% elsif current_user.gender == "female" %>
            <!-- 女性でログインしています -->
            <% @notifications.each do |notification| %>
            <% if notification.matching == 1 %>
            <li>
              <div class="notice-img">
                <div class="pick-profile-pic-trim">
                  <% if notification.like.id == current_user.id %>
                    <a href="<%= message_path(notification.id) %>"><img src="<%= notification.liker.thumb %>" width="200" /></a>
                  <% elsif notification.liker.id == current_user.id %>
                    <a href="<%= message_path(notification.id) %>"><img src="<%= notification.like.thumb %>" width="200" /></a>
                  <% end %>
                </div>
              </div>
              <div class="notice-text">
                <h4>お誘いが来ています。w1</h4>
                <p>
                  <% if notification.liker.id == current_user.id %>
                  <!-- <img src="<%= notification.like.thumb %>" width="200" /> -->
                  <%= link_to notification.like.name+"さんがあなたと"+notification.restaurant.name+"にいきたがっています！",message_path(notification.id) %>
                  <% elsif notification.like.id == current_user.id %>
                  <!-- <img src="<%= notification.liker.thumb %>" width="200" /> -->
                  <%= link_to notification.liker.name+"さんがあなたと"+notification.restaurant.name+"にいきたがっています！",message_path(notification.id) %>
                  <% end %>
                </p>
              </div>
            </li>

            <% elsif notification.matching == 2 %>
            <li>
              <div class="notice-img">
                <div class="pick-profile-pic-trim">
                  <% if notification.like.id == current_user.id %>
                    <a href="<%= message_path(notification.id) %>"><img src="<%= notification.liker.thumb %>" width="200" /></a>
                  <% elsif notification.liker.id == current_user.id %>
                    <a href="<%= message_path(notification.id) %>"><img src="<%= notification.like.thumb %>" width="200" /></a>
                  <% end %>
                </div>
              </div>
              <div class="notice-text">
                <h4>ご招待が来ています。5</h4>
                <p>
                  <% if notification.liker.id == current_user.id %>
                  <!-- <img src="<%= notification.like.thumb %>" width="200" /> -->
                  <%= link_to notification.like.name+"さんがあなたを"+notification.restaurant.name+"にご招待しています！（おごってもらえるチャンスかも？）",message_path(notification.id) %>
                  <% elsif notification.like.id == current_user.id %>
                  <!--   <img src="<%= notification.liker.thumb %>" width="200" /> -->
                  <%= link_to notification.liker.name+"さんがあなたを"+notification.restaurant.name+"にご招待しています！（おごってもらえるチャンスかも？）",message_path(notification.id) %>
                  <% end %>
                </p>
              </div>
            </li>

            <% elsif notification.matching == 3 %>
            <li>
              <div class="notice-img">
                <div class="pick-profile-pic-trim">
                  <% if notification.like.id == current_user.id %>
                    <a href="<%= message_path(notification.id) %>"><img src="<%= notification.liker.thumb %>" width="200" /></a>
                  <% elsif notification.liker.id == current_user.id %>
                    <a href="<%= message_path(notification.id) %>"><img src="<%= notification.like.thumb %>" width="200" /></a>
                  <% end %>
                </div>
              </div>
              <div class="notice-text">
                <h4>マッチしました。6</h4>
                <p>

                  <% if notification.liker.id == current_user.id %>
                  <!-- <img src="<%= notification.like.thumb %>" width="200" /> -->
                  <a href="<%= message_path(notification.id) %>"><i class="fa fa-comments" aria-hidden="true">メッセージはこちらから</i></a>
                  <% elsif notification.like.id == current_user.id %>
                  <!-- <img src="<%= notification.liker.thumb %>" width="200" /> -->
                  <a href="<%= message_path(notification.id) %>"><i class="fa fa-comments" aria-hidden="true">メッセージはこちらから</i></a>
                  <% end %>

                  <% if notification.messages.count == 0 %>
                  <% if notification.like.id == current_user.id %>
                  <%= link_to notification.liker.name+"さんオススメのレストラン"+notification.restaurant.name+"とマッチしました！",message_path(notification.id) %>
                  <% elsif notification.like.id == current_user.id %>
                  <%= link_to notification.liker.name+"さんと[ワリカン]でマッチしました！",message_path(notification.id) %>
                  <% end %>
                  <% else %>
                  <%= link_to notification.messages.last.body,message_path(notification.id) %>
                  <% end %>
                </p>
              </div>
            </li>


            <% elsif notification.matching == 4 %>
            <li>
              <div class="notice-img">
                <div class="pick-profile-pic-trim">
                  <% if notification.like.id == current_user.id %>
                    <a href="<%= message_path(notification.id) %>"><img src="<%= notification.liker.thumb %>" width="200" /></a>
                  <% elsif notification.liker.id == current_user.id %>
                    <a href="<%= message_path(notification.id) %>"><img src="<%= notification.like.thumb %>" width="200" /></a>
                  <% end %>
                </div>
              </div>
              <div class="notice-text">
                <h4>マッチしました。7</h4>
                <p>
                  <% if notification.liker.id == current_user.id %>
                  <!-- <img src="<%= notification.like.thumb %>" width="200" /> -->
                  <% elsif notification.like.id == current_user.id %>
                  <!-- <img src="<%= notification.liker.thumb %>" width="200" /> -->
                  <% end %>

                  <% if notification.messages.count == 0 %>
                  <% if notification.liker.id == current_user.id %>
                  <%= link_to notification.like.name+"さんオススメのレストラン"+notification.restaurant.name+"とマッチしました！おごってもらえるチャンス♡",message_path(notification.id) %>
                  <% elsif notification.like.id == current_user.id %>
                  <%= link_to notification.liker.name+"さんオススメのレストラン"+notification.restaurant.name+"とマッチしました！おごってもらえるチャンス♡",message_path(notification.id) %>
                  <% end %>
                  <% else %>
                  <%= link_to notification.messages.last.body,message_path(notification.id) %>
                  <% end %>

                  <% end %>
                  <% end %>
                  <% end %>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
