<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="main">
          <div class="iphone-cont">
            <div><img src="/assets/food.jpg" alt="image" /></div>
            <div class="center-content">
              <p class="lead iphone-text">
                Welcome to Flint.
              </p>
              <center>

                <p>
                <p style="color: #FFFFFF; width: 90%;">続行すると、お客様は当社の次の規約に同意することになります：<strong>サービスご利用規約</strong>と<strong>プライバシー ポリシー</strong></p>
                </p>

                <button style="background-color: #305097; font-size: 1.2em; border-style: none; padding: 10px 30px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;"><%= render "devise/shared/fblinks" %></button>

                <!-- <div
                  class="fb-like"
                  data-share="true"
                  data-width="450"
                  data-show-faces="true">
                </div> -->

                <!-- プロダクションバージョンでは消す項目 -->
                <div class="field">
                  <%= f.label :email %><br>
                  <%= f.email_field :email, autofocus: true %>
                </div>
                <div class="field">
                  <%= f.label :password %><br>
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
                <p>
                <%= f.submit "Log in", :class => "btn btn-default btn-xs"%>
                </p>
                <!-- プロダクションバージョンでは消す項目 -->
              </center>

              <!-- サインアップとパスワード忘れ -->
              <!-- <p>
              <button type="button" class="btn btn-default btn-xs"><%= render "devise/shared/links" %></button>
              </p> -->
              <!-- <p>
              <button type="button" class="btn btn-default btn-xs"><%= render "devise/shared/forgot" %></button>
              </p> -->

              <p><br>
              <i class="actions fa fa-info-circle" aria-hidden = "true" style="color: #FFFFFF;">
              Flint は Facebook に投稿することはありません。
              </i>
              </p>

              <br>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>
