<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>
<%= link_to '[Top]', "/" %><br/>

<% @restaurants.each do |restaurant| %>
<table>
  <tbody>
    <tr>
      <td>name:</td>
      <td><%= restaurant.name %></td>
      <td rowspan="10"></td>
    </tr>
    <tr>
      <td>category:</td>
      <td><%= restaurant.category %></td>
    </tr>
    <tr>
      <td>price:</td>
      <td><%= restaurant.price %></td>
    </tr>
    <tr>
      <td>star:</td>
      <td><%= restaurant.star %></td>
    </tr>
    <tr>
      <td>image:</td>
      <td><%= restaurant.image %></td>
    </tr>
    <tr>
      <td>Comment:</td>
      <td><%= restaurant.comment %></td>
    </tr>
    <tr>
      <td>User_id:</td>
      <td><%= restaurant.user_id %></td>
    </tr>
    <tr>
      <td>Payment:</td>
      <td><%= restaurant.payment %></td>
    </tr>
    <tr>
      <td>食べログURL:</td>
      <td><%= restaurant.url %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr><%= link_to '[Show]', restaurant %>
<%= link_to '[Edit]', edit_restaurant_path(restaurant) %>
<%= link_to '[Destroy]', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</tbody>
</table>


