<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>
<%= link_to '[Top]', "/" %>

<table>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <ul>
        <li>name:<%= restaurant.name %></li>
        <li>category:<%= restaurant.category %></li>
        <li>price:<%= restaurant.price %></li>
        <li>star:<%= restaurant.star %></li>
        <li>area:<%= restaurant.area %></li>
        <li>image:<%= restaurant.image %></li>
        <li>Comment:<%= restaurant.comment %></li>
        <li>User_id:<%= restaurant.user_id %></li>
        <li>Payment:<%= restaurant.payment %></li>
        <li>食べログURL:<%= restaurant.url %></li>
        <li><%= link_to 'Show', restaurant %>
        <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
        <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
      </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
