<CENTER>
<h1>Flint Top</h1>

  <p>現在ログイン中のユーザのUser. (<%= current_user.id %>, <%= current_user.name %>, <%= current_user.gender %>)</p>
<div class="footer">
    <p><%= link_to "[マッチング一覧]", :controller => "flint", :action => "match", :current => current_user.id, method: :post %>
  <!-- <li><% if @age %><%= @age %><% end %></li>
  <a href="http://localhost:3000/?age='a'">パラメータつきりんく</a> -->
  <!-- </ul> -->
  <%= link_to '[Restaurants]', restaurants_path %>
  <%= link_to '[カレントユーザ情報]', user_path %>
  <%= link_to '[Logout]', destroy_user_session_path, :method => :delete %></br>
</div>

  <ul>
    <% @candidates.each do |candidate| %>
    <div class="row">
      <div class="col-xs-12 col-md-offset-3 col-md-6" style="background-color: white;">
        <div class="thumbnail">
          <img src="<%= candidate.image %>" alt="...">
          <%= link_to '[もっと見る]', :controller => "flint", :action => "show", :id => candidate.user_id %>
          

        </div>
        <% if current_user.gender == "male" %>

          <p class = "btn btn-default"><%= link_to "☓", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => "", :restaurant_id => 0, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "ワリカン！", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => "", :restaurant_id => 1, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "おごる！", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => "", :restaurant_id => 2, :method => :post %></p>
        <% elsif current_user.gender == "famale" %>
          <p class = "btn btn-default"><%= link_to "☓", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => "", :restaurant_id => 0, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "◯", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => "", :restaurant_id => 1, :method => :post %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>
<%= link_to '[Top]', "/" %><%= link_to '[Logout]', destroy_user_session_path, :method => :delete %>
</CENTER>