<CENTER>
<h1>Flint Top</h1>
  <p>現在ログイン中のユーザのUser. (<%= current_user.id %>, <%= current_user.name %>, <%= current_user.gender %>, <%= current_user.age_range %>)</p>
  <p><%= link_to '通知', notification_path %></p>
<div class="footer">
    <p><%= link_to "[マッチング一覧]", :controller => "flint", :action => "match", :current => current_user.id, method: :post %>
  <%= link_to '[Restaurants]', restaurants_path %>
  <%= link_to '[カレントユーザ情報]', user_path %>
  <%= link_to '[Logout]', destroy_user_session_path, :method => :delete %></br>
</div>
  <ul>
    <% @candidates.each do |candidate| %>
    <div class="row">
      <div class="col-xs-12 col-md-offset-3 col-md-6" style="background-color: white;">
        <div class="thumbnail">
          <img src="<%= candidate.image %>" alt="...">
          <%= link_to '[もっと見る]', :controller => "flint", :action => "show", :id => candidate.user_id %>
          <ul style="list-style:none;">
            <li><%= candidate.name %></li>
            <li><%= candidate.category %></li>
            <li><%= candidate.price %></li>
            <li><%= candidate.star %></li>
            <li><%= candidate.area %></li>
            <li><%= candidate.name %></li>

            <li><%= candidate.comment %></li>
            <% if current_user.gender == "male" %>
            <li><%= candidate.payment %></li>
            <% end %>
          </ul>
        </div>

        <% if current_user.gender == "male" %>

          <p class = "btn btn-default"><%= link_to "☓", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :matching => 0,:restaurant_id => candidate.id, :matching => 0, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "ワリカン！", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :restaurant_id => candidate.id, :matching => 1, :matching => 1, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "おごる！", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :restaurant_id => candidate.id, :matching => 2, :method => :post %></p>

        <% elsif current_user.gender == "female" %>
          <p class = "btn btn-default"><%= link_to "☓", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :restaurant_id => candidate.id, :matching => 0, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "◯", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :restaurant_id => candidate.id, :matching => 1, :method => :post %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>
<%= link_to '[Top]', "/" %><%= link_to '[Logout]', destroy_user_session_path, :method => :delete %>
</CENTER>