<!-- 選択したユーザの詳細情報 -->
<div class="container">
<a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
</div>
<hr>
<% @select_user_candidate.each do |candidate| %>
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="main">
          <div class="fem-profile">

          <% @users.each do |user| %>
            <div class="fem-profile-part-1">
              <img src="<%= @facebook_uid_thumb %>" alt="" style ="width: 100%; background-size: cover;"/>
            </div>
            <div class="fem-profile-part-2">
              <h4>
                <strong><%= user.name %></strong>.<%= user.age_range %> <i class="fa fa-users" aria-hidden="true"></i>
              </h4>
              <p>
                <%= user.gender %> , UserID <%= user.id %>
              </p>
              <p>
                <% if @users.find(current_user.id).introduction == nil %>
                  nil
                <% else %>
                  <%= @users.find(current_user.id).introduction %>
                <% end %>
              </p>
            </div>
            <div class="fem-profile-part-2">
              <h4>共通の友人</h4>
              <ul class="woman-pick-list">
                <li>
                  <img src="/assets/girl1.jpg" alt="..." class="img-circle">
                </li>
                <li>
                  <img src="/assets/girl2.jpg" alt="..." class="img-circle">
                </li>
                <li>
                  <img src="/assets/girl3.jpg" alt="..." class="img-circle">
                </li>
              </ul>
            </div>
            <div class="fem-profile-part-2">
              <h4>レストラン</h4>
            </div>
            <img src="<%= candidate.image %>" alt="image" style ="width: 100%; background-size: cover;"/>
            <div class="fem-profile-part-2">
              <div class="male-msg-top-text">
                <h4><%= candidate.name %></h4>
                <ul class="woman-pick-list">
                  <li>
                    <% for starNum in 1..candidate.star do %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= candidate.star %>
                  </li>
                  <li>
                  <% if user.gender == "male" %>
                      <div class="btn-danger btn-xs disabled">
                        <% if candidate.payment == 0 %>
                            奢るよ！
                        <% elsif candidate.payment == 1 %>
                            割り勘で！
                        <% else %>
                            どちらでも！
                        <% end %>
                      </div>
                  <% end %>
                  </li>

                </ul>
                <ul class="woman-pick-list">
                  <li>
                    <span class="border-text">カテゴリ</span>
                    <span><%= candidate.category %></span>
                  </li>
                  <li>
                    <span class="border-text">価格帯</span>
                    <span><%= candidate.price %>~</span>
                  </li>
                  <li>
                    <span class="border-text">エリア</span>
                    <span><%= candidate.area %></span>
                  </li>
                </ul>

                <!-- 男性だった場合の選択ボタン -->
                <% if current_user.gender == "male" %>
                <div class="fem-profile-table row">
                <div class="col-xs-3">
                  <div class="pick-profile-pic-trim" style="width: 50px; height: 50px;">
                    <img src="<%= user.thumb %>" alt="...">
                  </div>
                  </div>
                    <div class="baloon col-xs-9">
                    <%= candidate.comment %>
                    </div>
                </div>
                <div class="cir-btn-table" style="padding-top: 20px">
                  <div class="cir-btn-table-cell">
                    <div class="cir-btn cir-btn-blue">
                      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                      <%= link_to "✕", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :matching => 0,:restaurant_id => candidate.id, :matching => 0, :method => :post %>
                    </div>
                    <p>行かない</p>
                  </div>
                  <div class="cir-btn-table-cell">
                    <div class="cir-btn cir-btn-red">
                      <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
                      <%= link_to "◯", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :restaurant_id => candidate.id, :matching => 1, :matching => 1, :method => :post %>
                    </div>
                    <p>ワリカン！</p>
                  </div>
                  <div class="cir-btn-table-cell">
                    <div class="cir-btn cir-btn-orange">
                      <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
                      <%= link_to "♡", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :restaurant_id => candidate.id, :matching => 2, :method => :post %>
                    </div>
                    <p>奢るよ！</p>
                  </div>
                </div>

                <!-- 女性だった場合の選択ボタン -->
                <% elsif current_user.gender == "female" %>
                 <div class="fem-profile-table row">
                 <div class="col-xs-3">
                    <div class="pick-profile-pic-trim" style="width: 50px; height: 50px;">
                      <img src="<%= user.thumb %>" alt="...">
                    </div>
                    </div>
                  <div class="baloon col-xs-9">
                    <%= candidate.comment %>
                  </div>
                </div>
                <div class="cir-btn-table">
                  <div class="cir-btn-table-cell">
                    <div class="cir-btn cir-btn-blue">
                      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                      <%= link_to "✕", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :restaurant_id => candidate.id, :matching => 0, :method => :post , :class => " fa fa-heart" %>
                    </div>
                    <p>行かない</p>
                  </div>
                  <div class="cir-btn-table-cell">
                    <div class="cir-btn cir-btn-red">
                      <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
                      <%= link_to "◯", :controller => "flint", :action => "addLike", :l_id => candidate.user_id, :restaurant_id => candidate.id, :matching => 1, :method => :post, :class => " fa fa-heart" %>
                    </div>
                    <p>行きたい</p>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <% end %>


   <!-- 男女別選択肢ボタン -->
        <!--<% if current_user.gender == "male" %>
          <p class = "btn btn-default"><%= link_to "☓", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => candidate.user, :restaurant_id => 0, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "ワリカン！", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => candidate.user, :restaurant_id => 1, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "おごる！", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => candidate.user, :restaurant_id => 2, :method => :post %></p>

        <% elsif current_user.gender == "female" %>
          <p class = "btn btn-default"><%= link_to "☓", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => candidate.user, :restaurant_id => 0, :method => :post %></p>

          <p class = "btn btn-default"><%= link_to "行きたい！", :controller => "flint", :action => "addLike", :u_id => current_user.id, :l_id => candidate.user, :restaurant_id => 1, :method => :post %></p>
         <% end %> -->
<% end %>
