<h1>ユーザ詳細ページ</h1>
<%= link_to '[Top]', "/" %></br>


<p><img src= "https://graph.facebook.com/<%= current_user.uid %>/picture?type=large" alt="..."></p>
<p><%= current_user.name %></p>
<p><%= current_user.gender %></p>
<p><%= current_user.age_range %></p>
<p>UserID.<%= current_user.id %></p>

<!-- 
あと付け足したいのは、
・男性の場合、"ばつ"、"わりかん"、"奢る"
・女性の場合、"ばつ"、"行きたい"


matching : 
断った = 0,
片方のみいいね=1, 
男が女におごるといっている=2, 
普通にマッチ=3,
男がおごるといってマッチした=4

 -->

