<!-- ログインしているユーザの情報 -->
<br>
<center>
  <div class="row">
    <div class="col-xs-3">
      <a href= "<%= edit_user_registration_path %>"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Edit</a>
    </div>
    <div class="col-xs-3">
      <a href="/restaurant/edit"><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i>&nbsp; Restaurant</a>
    </div>
    <div class="col-xs-3">
      <a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
    </div>
    <div class="col-xs-3">
      <a href="<%= destroy_user_session_path %>" , method = "delete"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; <%= link_to 'Logout', destroy_user_session_path, :method => :delete %></a>
    </div>
  </div>
  <h4>情報の編集</h4>
</center>

<hr>

<!-- ユーザ情報 -->
<div class="container">
  <div class="main">
    <div class="fem-profile">
      <div class="fem-profile-part-1">
        <img src="<%= @facebook_uid_thumb %>" alt="" style ="width: 100%; background-size: cover;"/>
        <!-- <img src="<%= @facebook_uid_thumb %>" alt="" /> -->
      </div>
      <div class="fem-profile-part-2">
        <h4>
          UserID <%= current_user.id %>:<strong><%= current_user.name %></strong>.<%= @facebook_birthday %> <i class="fa fa-users" aria-hidden="true"></i>
        </h4>
        <p>
          <%= @users.find(current_user.id).job %>
        </p>
        <p>
        <% if @users.find(current_user.id).introduction == nil %>
          nil
        <% else %>
          <%= @users.find(current_user.id).introduction %>
        <% end %>
        </p>
      </div>

      <div class="fem-profile-part-2">
        <h4>レストラン情報</h4>
      </div>

<% @current_user_candidates.each do |candidate| %>
      <img src="<%= candidate.image %>" alt="image" style ="width: 100%; background-size: cover;"/>
      <div class="fem-profile-part-2">
        <div class="male-msg-top-text">
          <h4><%= candidate.name %></h4>
          <ul class="woman-pick-list">
            <li>
             <!-- ここに星の評価 -->
            </li>
            <li>
              <%= candidate.star %>
            </li>
            <li>
              <% if @users.find(current_user.id).gender == "male" %>
              <div class="btn-danger btn-xs disabled">
                <% if candidate.payment == 0 %>
                奢るよ！
                <% elsif candidate.payment == 1 %>
                割り勘で！
                <% else %>
                どちらでも！
                <% end %>
              </div>
              <% end %>
            </li>
          </ul>
          <ul class="woman-pick-list">
            <li>
              <span class="border-text">カテゴリ</span>
              <span><%=candidate.category %></span>
            </li>
            <li>
              <span class="border-text">価格帯</span>
              <span><%= candidate.price %>~</span>
            </li>
            <li>
              <span class="border-text">エリア</span>
              <span><%= candidate.area %></span>
            </li>
          </ul>

          <div class="fem-profile-table row">
            <div class="col-xs-3">
              <div class="pick-profile-pic-trim" style="width: 50px; height: 50px; margin-top: 100px;">
                <img src="<%= @users.find(current_user.id).thumb %>" alt=''>
              </div>
            </div>
              <div class="baloon col-xs-9">
                <%= candidate.comment %>
              </div>
          </div>
        </div>
      </div>
<% end %>
    </div>
  </div>
</div>
